.commentBox {
  display: flex;
  flex-direction: column;
  height: 96vmin;
  width: 76vmin;
  box-shadow: 0 0 3rem rgba(black, 0.1);
  overflow: hidden;

  > .commentList {
    flex: 1 1 auto;
  }

  > .commentForm {
    flex: 0 1 auto;
  }
}
