.commentForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  border-top: 1px solid $color-gray;

  > * {
    flex: 1 1 auto;
    height: 2rem;
  }
}
