$color-gray: #B3B6BE;
$color-primary: #22B7E7;
$color-primary-dark: #1899c3;

@import 'base/global';
@import 'components/author';
@import 'components/box';
@import 'components/button';
@import 'components/comment';
@import 'components/form';
@import 'components/heading';
@import 'components/input';
@import 'components/list';
